/*
!/.gitignore
!/README.md
!/,*

!/sourceme
!/sourceme/*
!/examples
!/examples/*
!/list
!/list/*
!/preview
!/preview_scripts
!/preview_scripts/*
!/setup/
!/setup/*
!/snippets/
!/snippets/*

!/awk-*
!/bjobs*
!/bmod*
!/du*
!/fz*
/fzf
/fzf.git
!/git-*
!/is-*
!/lp*
!/ls-*
!/lsf-*
!/my-*
!/nnn-*
!/test-*
!/vnc-*

# git
!/gitc
!/gpull

# tmux
!/tmux-*
!/ta
!/tenv
!/tkeys
!/tls
!/tnew
!/tprint
!/tsave
!/ts

# YAML/JSON
!/2cfg
!/2json
!/2json.py
!/2yaml

!/a
!/abduco-ls
!/ansi
!/arm
!/awkc
!/bash-hacks
!/bash-prompt
!/bgrep
!/bin.plugin.zsh
!/bls
!/bshell
!/catw
!/cecho
!/chi
!/chmodd
!/chmodg
!/clickable-url
!/clip
!/cpp.
!/ddstat
!/diff-csv.rb
!/echop
!/exitfail
!/epoch
!/f
!/file-yank
!/findd
!/findext
!/findx
!/forkbomb
!/groups-users
!/gu
!/hwinfo
!/launch
!/lnsp
!/loan
!/Makefile
!/manhack
!/noansi
!/psef
!/ps-env
!/pwdc
!/pwdh
!/pyinfo
!/realdir.py
!/realpath.py
!/rmrf
!/set-title
!/sitename
!/snip
!/ssh.rb
!/svn-url
!/tax
!/toddo
!/true-color-test
!/tr:
!/tt
!/tui.rb
!/upcase
!/zsh.rb

# vim: ft=sh

