/*
!/.gitignore
!/,*

!/sourceme
!/sourceme/*
!/list
!/list/*
!/preview
!/preview_scripts
!/preview_scripts/*
!/setup/
!/setup/*

!/awk-*
!/bjobs*
!/bmod*
!/fzf-*
!/git-*
!/lsf-*
!/nnn-*
!/tmux-*
!/vnc-*

# tmux
!/ta
!/tenv
!/tkeys
!/tls
!/tnew
!/tprint
!/tsave

!/a
!/ansi
!/awkc
!/bash-hacks
!/bin.plugin.zsh
!/chi
!/clip
!/cpp.
!/ddstat
!/diff-csv.rb
!/f
!/file-yank
!/gpull
!/groups-users
!/gu
!/lnsp
!/loan
!/Makefile
!/manhack
!/noansi
!/psef
!/ps-env
!/pwdc
!/pyinfo
!/realpath.py
!/set-title
!/svn-url
!/tax
!/toddo
!/true-color-test
!/tt
!/tui.rb
!/yaml2cfg
!/yaml2json
!/zsh.rb

# vim: ft=sh

